root = true

[*.{kt,kts}]
ktlint_code_style=ktlint_official
indent_style = space
indent_size = 4
continuation_indent_size=4

ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^

insert_final_newline=true

# should be limit 100 or 120 symbols
max_line_length=100

[**/qa_test_app/**.kt]
ktlint_disabled_rules=package-name

[**/test/**.kt]
ktlint_ignore_back_ticked_identifier=true

[**/instrumentation_tests/**.kt]
ktlint_disabled_rules=package-name,filename

[**/screenshot_tests/**.kt]
ktlint_disabled_rules=package-name,filename