<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.navigation.route.offboard" >

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:theme="@style/AppTheme">
        <activity
            android:name=".test.OffboardRouterTestActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing">
        </activity>
    </application>

</manifest>
