<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mapbox.services.android.navigation">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <service android:name="com.mapbox.services.android.navigation.v5.internal.navigation.NavigationService"/>
    </application>

</manifest>
