<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.navigation.qa_test_app">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".QaTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mapboxnavigationandroid">
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.componentinstaller.ComponentsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".view.componentinstaller.ComponentsAltActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".view.UpcomingRoadObjectsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".view.AppLifecycleActivity" />
        <activity android:name=".view.AlternativeRouteActivity" />
        <activity android:name=".view.MapboxRouteLineActivity" />
        <activity android:name=".view.util.RouteDrawingActivity" />
        <activity android:name=".view.RouteRestrictionsActivity" />
        <activity android:name=".view.RouteTrafficUpdateActivity" />
        <activity android:name=".view.RouteNumericTrafficUpdateActivity" />
        <activity android:name=".view.InactiveRouteStylingActivity" />
        <activity android:name=".view.TrafficGradientActivity" />
        <activity android:name=".view.FeedbackActivity" />
        <activity android:name=".view.InactiveRouteStylingWithRestrictionsActivity" />
        <activity android:name=".view.StatusActivity" />
        <activity android:name=".view.RoadObjectsActivity" />
        <activity android:name=".view.MapboxNavigationViewOfflineOnlineRouteSwitchActivity" />
        <activity android:name=".view.TripOverviewActivity" />
        <activity
            android:name=".view.IconsPreviewActivity"
            android:theme="@style/Theme.IconsPreviewActivity" />
        <activity
            android:name=".view.MapboxNavigationViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".view.customnavview.MapboxNavigationViewCustomizedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".view.MapboxNavigationViewFragmentActivity"
            android:theme="@style/Theme.Fullscreen"
            />
        <activity
            android:name=".view.NavigationViewFragmentLifecycleActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".view.CustomAlternativeRouteColoringActivity"/>
        <activity android:name=".view.RouteLineFeaturesActivity"/>
        <activity android:name=".view.RouteLineScalingActivity"/>

        <activity android:name=".view.DropInButtonsActivity" />

        <activity android:name=".view.RoutesPreviewActivity" />
        <activity android:name=".view.RouteRefreshActivity" />
        <activity android:name=".view.SpeedInfoActivity"
            android:theme="@style/Theme.Fullscreen" />
        <activity
            android:name=".view.componentinstaller.RestAreaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".view.ActiveLegAboveInactiveLegsActivity" />
    </application>

</manifest>