<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.navigation.instrumentation_tests">

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- usesCleartextTraffic is a workaround for Android security requirement when using mocked
    web server and local host possible to resolve with and additional keystore and key generator
    or by upgrading OkHttp-->
    <application
        android:name=".InstrumentationTestsApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.EmptyTestActivity" />
        <activity android:name=".activity.BasicNavigationViewActivity" />
        <activity android:name=".activity.NavigationViewTestActivity" />
        <activity
            android:name=".activity.NavigationViewLifecycleTestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
    </application>

</manifest>