@import url(https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700);

body, table {
    font:14px/1.5 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000;
    font-weight:300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1440px;
}

.keyword {
    color:black;
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size:12px;
}

.symbol {
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size:12px;
}

.identifier {
    color: darkblue;
    font-size:12px;
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
}

h1 {
    font-weight: bold;
    line-height: 54px;
    padding-top: 36px;
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 36px;
}

h2 {
    line-height: 42px;
    font-weight: normal !important;
    font-size: 30px;
    padding-top: 24px;
    margin: 36px 0px 18px;
}

h3 {
    line-height: 36px;
    margin-bottom: 12px;  
    font-weight: normal;
    font-size: 24px;
    padding-top: 24px;
}

h4 {
    line-height: 24px;
    font-weight: normal;
    font-size: 18px;
    padding-top: 0px;
    margin: 24px 0px 18px;
}

h5,
h6 {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 12px;
    padding-top: 12px;
}

small {
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
}
  
a {
    color: #4264fb;
    text-decoration: underline;
}

a:hover {
    color: #314ccd;
}

table {
    width:100%;
    border-collapse: collapse;
}

table tr {
    text-align: left;
    vertical-align: top;
    border-bottom-style: solid;
    border-bottom-color: #c6d2e1;
    border-bottom-width: 1px;
}

table td {
    padding: 18px;
}

table tr h2,
table tr h3,
table tr h4 {
    font-size: 18px;
    margin: 0px;
}
  
code,
pre {
  white-space: pre-wrap;
  font-size: 90%; /* mono fonts have naturally large proportions, scale them down to match open sans. */
  line-height: 1.5em; /* code blocks look better with smaller line height */
  background: rgba(31, 51, 73, 0.05);
  border-radius: 3px;
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  padding: 2px;
}

td code {
    display: block;
    padding: 12px;
}

.top-bar {
    margin-bottom: 12px;
    background-color: #4264fb;
    width: 100%;
    color: #fff;
    padding: 18px 0px;
}

.product-name {
    background-color: rgba(255,255,255,0.1);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.shell-mb-logo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 790 180%22%3E%3Cpath d%3D%22M89.1 1.8C39.9 1.8 0 41.7 0 90.9 0 140.1 39.9 180 89.1 180c49.2 0 89.1-39.9 89.1-89.1 0-49.2-39.9-89.1-89.1-89.1zm457.8 19.7c-1.2 0-2.2 1-2.2 2.2v103.2c0 1.2 1 2.2 2.2 2.2h13.4c1.2 0 2.2-1 2.2-2.2v-7.1c6.9 7.2 16.4 11.3 26.3 11.3 20.9 0 37.9-18 37.9-40.3 0-22.3-17-40.2-37.9-40.2-10 0-19.5 4.1-26.3 11.3V23.7c0-1.2-1-2.2-2.2-2.2h-13.4zM98.3 36.4c11.4.3 22.9 4.8 31.7 13.7 17.7 17.7 18.3 45.7 1.4 62.7-30.5 30.5-84.8 20.7-84.8 20.7s-9.8-54.3 20.7-84.8c8.5-8.4 19.7-12.5 31-12.3zm160.3 14.2c-8.2 0-15.9 4-20.8 10.6v-6.4c0-1.2-1-2.2-2.2-2.2h-13.4c-1.2 0-2.2 1-2.2 2.2V127c0 1.2 1 2.2 2.2 2.2h13.4c1.2 0 2.2-1 2.2-2.2V83.8c.5-9.7 7.2-17.3 15.4-17.3 8.5 0 15.6 7.1 15.6 16.5v44c0 1.2 1 2.2 2.2 2.2h13.5c1.2 0 2.2-1 2.2-2.2l-.1-44.9c1.2-8.8 7.6-15.6 15.3-15.6 8.5 0 15.6 7.1 15.6 16.5v44c0 1.2 1 2.2 2.2 2.2h13.5c1.2 0 2.2-1 2.2-2.2l-.1-49.6c.3-14.8-12.3-26.8-27.9-26.8-10 .1-19.2 5.9-23.5 15-5-9.3-14.7-15.1-25.3-15zm127.9 0c-20.9 0-37.9 18-37.9 40.3 0 22.3 17 40.3 37.9 40.3 10 0 19.5-4.1 26.3-11.3v7.1c0 1.2 1 2.2 2.2 2.2h13.4c1.2 0 2.2-1 2.2-2.2V54.8c.1-1.2-.9-2.2-2.2-2.2H415c-1.2 0-2.2 1-2.2 2.2v7.1c-6.9-7.2-16.4-11.3-26.3-11.3zm106.1 0c-10 0-19.5 4.1-26.3 11.3v-7.1c0-1.2-1-2.2-2.2-2.2h-13.4c-1.2 0-2.2 1-2.2 2.2V158c0 1.2 1 2.2 2.2 2.2h13.4c1.2 0 2.2-1 2.2-2.2v-38.2c6.9 7.2 16.4 11.3 26.3 11.3 20.9 0 37.9-18 37.9-40.3 0-22.3-17-40.2-37.9-40.2zm185.5 0c-22.7 0-41 18-41 40.3 0 22.3 18.4 40.3 41 40.3s41-18 41-40.3c0-22.3-18.3-40.3-41-40.3zm45.4 2c-1.1 0-2 .9-2 2 0 .4.1.8.3 1.1l23 35-23.3 35.4c-.6.9-.4 2.2.6 2.8.3.2.7.3 1.1.3h15.5c1.2 0 2.3-.6 2.9-1.6l13.8-23.1 13.8 23.1c.6 1 1.7 1.6 2.9 1.6h15.5c1.1 0 2-.9 2-2 0-.4-.1-.7-.3-1.1L766 90.7l23-35c.6-.9.4-2.2-.6-2.8-.3-.2-.7-.3-1.1-.3h-15.5c-1.2 0-2.3.6-2.9 1.6l-13.5 22.7-13.5-22.7c-.6-1-1.7-1.6-2.9-1.6h-15.5zM99.3 54l-8.7 18-17.9 8.7 17.9 8.7 8.7 18 8.8-18 17.9-8.7-17.9-8.7-8.8-18zm290.3 12.7c12.7 0 23 10.7 23.2 23.9v.6c-.1 13.2-10.5 23.9-23.2 23.9-12.8 0-23.2-10.8-23.2-24.2 0-13.4 10.4-24.2 23.2-24.2zm99.8 0c12.8 0 23.2 10.8 23.2 24.2 0 13.4-10.4 24.2-23.2 24.2-12.7 0-23-10.7-23.2-23.9v-.6c.2-13.2 10.5-23.9 23.2-23.9zm96.3 0c12.8 0 23.2 10.8 23.2 24.2 0 13.4-10.4 24.2-23.2 24.2-12.7 0-23-10.7-23.2-23.9v-.6c.2-13.2 10.5-23.9 23.2-23.9zm92.2 0c12.8 0 23.2 10.8 23.2 24.2 0 13.4-10.4 24.2-23.2 24.2-12.8 0-23.2-10.8-23.2-24.2 0-13.4 10.4-24.2 23.2-24.2z%22 fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E%0A");
    background-size: 110px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 110px;
    height: 25px;
    margin-right: 8px;
    margin-bottom: -8px;
}

.limiter {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}
  
@media screen and (min-width: 640px) {
    .limiter {
        margin-left: auto;
        margin-right: auto;
        width: 91.666666666%;
        max-width: 1200px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 800px) {
    .limiter {
        width: 83.33333333%;
    }
}

.wrapper {
    width:860px;
    margin:0 auto;
}

blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic;
}

th, td {
    text-align:left;
    vertical-align: top;
    padding:5px 10px;
}

dt {
    color:#444;
    font-weight:700;
}

img {
    max-width:100%;
}

header {
    width:270px;
    float:left;
    position:fixed;
}

header ul {
    list-style:none;
    height:40px;

    padding:0;

    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);

    border-radius:5px;
    border:1px solid #d2d2d2;
    box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    width:270px;
}

header li {
    width:89px;
    float:left;
    border-right:1px solid #d2d2d2;
    height:40px;
}

header ul a {
    line-height:1;
    font-size:11px;
    color:#999;
    display:block;
    text-align:center;
    padding-top:6px;
    height:40px;
}

strong {
    color:#222;
    font-weight:700;
}

header ul li + li {
    width:88px;
    border-left:1px solid #fff;
}

header ul li + li + li {
    border-right:none;
    width:89px;
}

header ul a strong {
    font-size:14px;
    display:block;
    color:#222;
}

section {
    width:500px;
    float:right;
    padding-bottom:50px;
}

small {
    font-size:11px;
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px;
}

footer {
    width:270px;
    float:left;
    position:fixed;
    bottom:50px;
}

@media print, screen and (max-width: 960px) {

    div.wrapper {
        width:auto;
        margin:0;
    }

    header, section, footer {
        float:none;
        position:static;
        width:auto;
    }

    header {
        padding-right:320px;
    }

    section {
        border:1px solid #e5e5e5;
        border-width:1px 0;
        padding:20px 0;
        margin:0 0 20px;
    }

    header a small {
        display:inline;
    }

    header ul {
        position:absolute;
        right:50px;
        top:52px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap:break-word;
    }

    header {
        padding:0;
    }

    header ul, header p.view {
        position:static;
    }

    pre, code {
        word-wrap:normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding:15px;
    }

    header ul {
        display:none;
    }
}

@media print {
    body {
        padding:0.4in;
        font-size:12pt;
        color:#444;
    }
}
