name: Set reviewers
on:
  pull_request:
    types: [ opened, reopened, ready_for_review ]
jobs:
  process:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ github.event.pull_request.number }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      BAMBOO_API_KEY: ${{ secrets.BAMBOO_API_KEY }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.head_ref}}

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.7.7'

      - name: install python packages
        run: |
          python3 -m pip install requests PyBambooHR retry

      - name: execute py script
        run: |
          python3 scripts/set_reviewers.py
