<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.navigation.core">

    <application>
        <provider
            android:name="com.mapbox.navigation.core.accounts.MapboxNavigationAccountsProvider"
            android:authorities="${applicationId}.MapboxNavigationAccountsProvider"
            android:exported="false"
            android:initOrder="200"/>
        <service android:name=".trip.service.NavigationNotificationService" />

        <meta-data android:name="com.mapbox.ManageSkuToken" android:value="false" />
    </application>
</manifest>
