<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.navigation.examples">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="${enableCrashReporting}" />

    <application
        android:name=".NavigationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".CoreActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".UIActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".settings.NavigationSettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".core.SimpleMapboxNavigationKt"
            android:label="@string/title_simple_navigation_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity
            android:name=".core.OffboardRouterActivityKt"
            android:label="@string/title_offboard_router_kotlin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity
            android:name=".core.OffboardRouterActivityJava"
            android:label="@string/title_offboard_router_java">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity
            android:name=".core.OnboardRouterActivityKt"
            android:label="@string/title_onboard_router_kotlin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity
            android:name=".core.OnboardRouterActivityJava"
            android:label="@string/title_onboard_router_java">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity
            android:name=".core.HybridRouterActivityKt"
            android:label="@string/title_hybrid_router_kotlin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity
            android:name=".core.HybridRouterActivityJava"
            android:label="@string/title_hybrid_router_java">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".core.TripServiceActivityKt"
            android:label="@string/title_trip_service_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".core.TripSessionActivityKt"
            android:label="@string/title_trip_session_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".ui.NavigationViewActivity"
            android:label="@string/title_navigation_view"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UIActivity"/>
        </activity>

        <activity android:name=".ui.ArrivalUiFootprintHighlightActivityKt"
            android:label="@string/title_final_destination_building_highlight_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UIActivity"/>
        </activity>

        <activity android:name=".ui.ArrivalUiBuildingExtrusionActivityKt"
            android:label="@string/title_arrival_ui_building_extrusions_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UIActivity"/>
        </activity>

        <activity android:name=".core.GuidanceViewActivity"
            android:label="@string/title_guidance_view"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UIActivity"/>
        </activity>

        <activity android:name=".core.ReplayActivity"
            android:label="@string/title_replay_navigation_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".core.ReplayHistoryActivity"
            android:label="@string/title_replay_navigation_kotlin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".core.BasicNavigationActivity"
            android:label="@string/title_basic_navigation_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".core.FreeDriveNavigationActivity"
            android:label="@string/title_free_drive_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".core.FasterRouteActivity"
            android:label="@string/title_faster_route"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity" />
        </activity>

        <activity android:name=".core.InstructionViewActivity"
            android:label="@string/title_instruction_view"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity" />
        </activity>

        <activity android:name=".core.ReRouteActivity"
            android:label="@string/title_reroute_view"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".core.SummaryBottomSheetActivity"
            android:label="@string/title_summary_bottom_sheet"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity" />
        </activity>

        <activity android:name=".ui.CustomPuckActivity"
            android:label="@string/title_custom_puck_example"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UIActivity" />
        </activity>

        <activity android:name=".core.DebugMapboxNavigationKt"
            android:label="@string/title_debug_navigation_kotlin"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoreActivity"/>
        </activity>

        <activity android:name=".ui.CustomCameraActivity"
            android:label="@string/title_custom_camera_example"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UIActivity" />
        </activity>

        <activity
            android:name=".ui.CustomUIComponentStyleActivity"
            android:label="@string/title_custom_ui_component_style"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UIActivity" />
        </activity>

        <meta-data
            android:name="com.mapbox.TestEventsServer"
            android:value="api-events-staging.tilestream.net" />
        <meta-data
            android:name="com.mapbox.TestEventsAccessToken"
            android:value="pk.eyJ1IjoiYmxzdGFnaW5nIiwiYSI6ImNpdDF3OHpoaTAwMDcyeXA5Y3Z0Nmk2dzEifQ.0IfB7v5Qbm2MGVYt8Kb8fg" />
    </application>

</manifest>
